<!DOCTYPE html>
<html>
<head>
  <title>TestRailsProject</title>
  <%= stylesheet_link_tag    'googlenews/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'googlenews/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="googlenews">

<%= link_to "Home", { controller: "home" } %>
<hr/>

<div class="container">
  <div class="inner">
    <%= yield %>
  </div>
</div>





</body>
</html>
